---
import { Font } from "astro:assets";
import '../styles/importExternals.scss';
---

<style>
	@use '../styles/importExternals.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-view {
    background-color: black;
    width: 100vw;
    height: 100vh;
	overflow-x: auto;

    .hero {
        display: flex;
        flex-direction: row;
        height: 100%;

        .slides {
            padding: 40px;
            display: flex;
            flex-direction: column;
            justify-content: end;
            flex: 0 0 100%;

        }

        .slide-1 {
            background-color: yellow;
        }

        .slide-2 {
            background-color: blue;
        }

        .slide-3 {
            background-color: orange;
        }

    }
}

h1 {
    color: white;
    font-family: var(--font-switzer);
}
</style>


<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<Font cssVariable="--font-switzer" />
		<title>Astro</title>
	</head>
	<body>
		<section class="main-view">
			<div class="intro" style="display: none">
				<h1>INI INTRO</h1>
			</div>
			<div 	class="hero">
				<div class="slides slide-1">
					<h1>Bike</h1>
				</div>
				<div class="slides slide-2">
									<h1>Electric Bike</h1>
				</div>

				<div class="slides slide-3">
					<h1>Motorcycle</h1>
				</div>
				<div class="slides slide-4">
					<h1>Vespa</h1>
				</div>
			</div>
			
		</section>
		<section class="main-view">
			<div class="intro" style="display: none">
				<h1>INI INTRO</h1>
			</div>
			<div 	class="hero">
				<div class="slides slide-1">
					<h1>Bike</h1>
				</div>
				<div class="slides slide-2">
									<h1>Electric Bike</h1>
				</div>

				<div class="slides slide-3">
					<h1>Motorcycle</h1>
				</div>
				<div class="slides slide-4">
					<h1>Vespa</h1>
				</div>
			</div>
			
		</section>
	</body>
</html>
<script>

	//@ts-nocheck

	import LocomotiveScroll from 'locomotive-scroll';
	
	const scrollHorizontal = new LocomotiveScroll({
		lenisOptions:{
			wrapper: document.querySelector('.main-view'),
			orientation:'horizontal'
		}
	})
	const scrollVertical = new LocomotiveScroll({
		lenisOptions:{
			wrapper: window,
			orientation:'vertical'
		}
	})


</script>
